# source: https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.FCStd
*.FCStd1
*.obj
*.stl
*.step
*.stp
*.x_t
.pytest_cache
__pycache__/
*.py[cod]
python/venv/

tmp
.temp*
.manipulator_adam_cache

.vscode/
.dist/
build/
dist/

mylog.log
*.tmp
*.csv