# source: https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
*.FCStd
*.FCStd1
*.obj
*.stl
.pytest_cache
__pycache__/
*.py[cod]
python/venv/

tmp